@import 'https://fonts.googleapis.com/css?family=Carrois+Gothic';
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-family: 'Carrois Gothic', sans-serif;
    background-color: #17191f;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
    font-family: 'Carrois Gothic', sans-serif;
    text-rendering: optimizelegibility;
}
.main-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    max-width: 310px;
    width: 28%;
    min-width: 295px;
    padding: 1.5em;
}
.panel-container {
    padding: 0.5em;
    background-color: transparent;
}
details > summary {
    color: #ffffff;
    cursor: pointer;
    margin-top: 3em;
    margin-left: 1em;
    padding: 10px;
    font-size: 1em;
}
details > summary:hover {
    color: #03A9F4;
}
details > summary > i {
    margin-right: 0.4em
}
.panel-container > .request-panel-top-section > .info-container {
    padding: 0 10px;
}
.panel-container > .request-panel-top-section > .info-container > .info {
    font-size: 20px;
}
.panel-container > .request-panel-top-section > .info-container > .info > h3 {
    color: #ffffff;
    text-shadow: 2px 2px #383838;
    font-weight: 600;
}
.panel-container > .request-panel-top-section > .info-container > .info > h4 {
    color: #84878d;
    font-weight: 600;
    padding-bottom: 5px;
    text-shadow: 2px 2px #333;
    font-size: 0.75em;
}
.panel-container > .request-panel-top-section > .info-container > .info > * {
    margin: 0;
}
.request-panel-top-section,
.request-panel-bottom-section {
    padding: 7px;
}
.request-panel-top-section {
    background: -webkit-linear-gradient(bottom, rgba(40, 45, 54, 0.69), rgba(39, 44, 53));
    background: -o-linear-gradient(bottom, rgba(40, 45, 54, 0.69), rgba(39, 44, 53));
    background: -moz-linear-gradient(bottom, rgba(40, 45, 54, 0.69), rgba(39, 44, 53));
    background: linear-gradient(to bottom, rgba(40, 45, 54, 0.69), rgb(39, 44, 53));
    box-shadow: 1px 1px 1px rgba(88, 99, 111, 0.4), 2px 2px rgb(42, 47, 56) inset;
    border-radius: 0.25em;
    border-bottom-left-radius: 0;
}
.request-panel-bottom-section {
    width: 28%;
    box-shadow: 1px 1px 1px rgba(88, 99, 111, 0.4), 2px 0px rgb(42, 47, 56) inset;
    border-radius: 0.25em;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #272c35;
    padding: 0;
}
.actions-container {
    background-color: #101215;
    border-radius: 0.25em;
}
.actions {
    padding: 0 10px;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
}
.actions-container > .actions > .small-btn-container {
    padding: 0;
}
.actions-container > .actions > .small-btn-container > button {
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.0%22%3E%3Cdefs%3E%3ClinearGradient%20x1%3D%220%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%22100%25%22%20id%3D%22g%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22rgb%28255%2C255%2C255%29%22%20stop-opacity%3D%220.1%22/%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22rgb%280%2C0%2C0%29%22%20stop-opacity%3D%220.1%22/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20fill%3D%22url%28%23g%29%22%20width%3D%22100%25%22%20height%3D%22100%25%22/%3E%3C/svg%3E");
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background-origin: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1) inset;
    border-radius: 0.25em;
    cursor: pointer;
    display: inline-block;
    font-size: 87.5%;
    line-height: 1.5;
    margin: 0.5em 0;
    padding: 0.25em 1em;
    text-align: center;
    white-space: nowrap;
}
.actions-container > .actions > .small-btn-container > button:hover {
    box-shadow: 0 1px 2px rgba(189, 189, 189, 0.1) inset;
}
.actions-container > .actions > .small-btn-container > button:active,
.actions-container > .actions > .small-btn-container > button:focus {
    background: linear-gradient(to bottom, #318fbf, #073476);
}
.actions-container > .actions > .small-btn-container > button {
    text-shadow: 1px 1px #949191;
    background-color: white;
    color: black;
}
.actions-container > .actions > .small-btn-container > button {
    padding: 5px 10px;
    color: #fefefe;
    background-color: #101215;
    margin-right: 5px;
    min-width: 36px;
}
.panel-container > .request-panel-bottom-section > .large-btn-container > button {
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%3F%3E%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.0%22%3E%3Cdefs%3E%3ClinearGradient%20x1%3D%220%22%20y1%3D%220%22%20x2%3D%220%22%20y2%3D%22100%25%22%20id%3D%22g%22%3E%3Cstop%20offset%3D%220%22%20stop-color%3D%22rgb%28255%2C255%2C255%29%22%20stop-opacity%3D%220.1%22/%3E%3Cstop%20offset%3D%221%22%20stop-color%3D%22rgb%280%2C0%2C0%29%22%20stop-opacity%3D%220.1%22/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20fill%3D%22url%28%23g%29%22%20width%3D%22100%25%22%20height%3D%22100%25%22/%3E%3C/svg%3E");
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
    background-origin: border-box;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px rgba(255, 255, 255, 0.1) inset;
    border-radius: 0.25em;
    cursor: pointer;
    display: inline-block;
    font-size: 87.5%;
    line-height: 1.5;
    margin: 0.5em 0;
    padding: 0.25em 1em;
    text-align: center;
    white-space: nowrap;
}
.panel-container > .request-panel-bottom-section > .large-btn-container > button {
    text-shadow: 1px 1px #949191;
    background-color: white;
    color: black;
}
.panel-container > .request-panel-bottom-section > .large-btn-container > button {
    padding: 5px 10px;
    color: #fefefe;
    background-color: #101215;
    margin-right: 5px;
    min-width: 36px;
    margin-left: 0.5em;
}