/******************************************************************

Typography

******************************************************************/

@import 'https://fonts.googleapis.com/css?family=Carrois+Gothic';

/* ===============================
     font Style
   =============================== */
$font: 'Carrois Gothic', sans-serif;

/* ===============================
     sizes
   =============================== */
$large-font: 1.17em;
$small-font: 0.75em;

/* ===============================
     weights
   =============================== */
$thin: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900;
