<details>
  <summary>
    <i class="fa fa-bars" aria-hidden="true"></i>
    Stock Symbols Price Info
  </summary>
  <section class="container">
      <article class="main-container">
        <section ng-repeat="symbolData in pricesServiceReqObj">
            <section class="panel-container">
              <section class="request-panel-top-section">
                <div class="info-container">
                  <div class="info">
                      <h3>Request Price</h3>
                      <h4 ng-init="formattedDate = utilityFuncs.formatDate(symbolData.data.price.historical[0].date, 'MMM YYYY')">
                          {{ symbolData.data.symbol }} {{ symbolData.data.price.historical[0].value }} {{ formattedDate }}
                      </h4>
                  </div>
                </div>
                <div class="actions-container">
                  <div class="actions">
                      <div class="small-btn-container" ng-repeat="action in symbolData.actions">
                          <button type="button" class="small-btn" ng-click="showUserSymbolData('Please open Developer Tools Console to view Data Object for this selected stock symbol.', symbolData.data)">{{ action }}</button>
                      </div>
                  </div>
                </div>
              </section>
              <section class="request-panel-bottom-section">
                  <div class="large-btn-container">
                      <button type="button" class="large-btn">{{ symbolData.data.price.indicative }}</button>
                  </div>
              </section>
            </section>
        </section>
      </article>
  </section>
</details>

